.detail--heading {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-top: 100px;
}
.detail-card {
  margin-top: 4rem;
}

.detail-card-2 {
  margin-top: 2rem;
}

.card {
  background-color: #f5f2f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.detail-flex {
  display: flex;
  gap: 6rem;
}
.card:hover {
  transform: scale(1.001);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
