@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat&family=Cinzel&family=IBM+Plex+Sans:ital,wght@1,700&family=Inconsolata:wght@300&family=Nanum+Myeongjo&display=swap');

.brands_heading_h2{
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: 5rem;
}

