.about {
  background-color: #faf8f7;
  height: 50vh;
}
.about-h5 {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-weight: 600;
  margin-top: 5rem;
}
.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 9rem;
}

.span-1 {
  position: relative;
  bottom: 0.8rem;
  right: 10px;
}
.about-nbr {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-size: 3.5rem;
  margin-left: 10px;
}

.about-p {
  margin-left: 10px;
}
