.card {
  background-color: transparent;
  border: none;
}
.card-body {
  background-color: transparent;
}

.contact {
  background-color: #fedfd5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 6rem;
}

.card-title-h5 {
  font-family: "Anton", sans-serif;
  font-size: 136px;
}

.card-text-contact {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

@media only screen and (max-width: 1024px) {
  .card-title-h5 {
    font-size: 110px;
  }
  .card-5 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 786px) {
  .card-title-h5 {
    font-size: 90px;
  }
}
@media only screen and (max-width: 450px) {
  .card-5 {
    display: none;
  }
}
