.heading-gallery {
  text-align: center;
  margin-top: 6rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.gallery-box {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 5rem;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.p-1,
.h3-1 {
  max-width: 100%;
}
.flex {
  margin: 40px 0 0 40px;
}
.p-1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #9381bb;
}
.h3-1 {
  color: #d7baf5;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
}
.p-2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #8cb393;
}
.h3-2 {
  color: #b9edbd;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
}

@media only screen and (max-width: 1024px) {
  .gallery_box {
    justify-content: center;
    align-items: center;
  }
}

.cont {
  margin: 60px 60px;
}
